<%- include('partials/_header') -%>
<body>
    <section id="new">
        <h1 style="color: #bf8c8c">¡LISTO!</h1>
        <img src="imagenes/cont.png" height="300">
        <p style="margin-top: 20px">Tus respuestas han sido enviadas a un estilista de moda. En una semana podrás ver lo que tenemos preparado para ti.</p>
        <a  href="index.html"><input type="button" value="Regresar a Inicio" style="margin-bottom: 30px; font-weight:500; padding: 10px;"></a>
        <br>
        <a  href="checkout.html"><input type="button" id="boton" value="Comprar mi Caja" style="margin-bottom: 30px; font-weight:500; padding: 10px;"></a>
    </section>
</body>
<%- include('partials/_footer') -%>
</html>