<%- include('partials/_header') -%>
<body>
   
    <section id="new">
        <h1>¡GRACIAS!</h1>
        <img src="imagenes/enviado.png" height="350">
        <p style="margin-top: 20px">Ahora sólo tienes que descargar la página que te enviamos por correo, pegarla en la caja en la que te mandamos anteriormente y dejarla en tu punto de entrega UPS más cercano. </p>
        <a  href="index.html"><input type="submit" value="Regresar a Inicio" style="margin-bottom: 30px; font-weight:500"></a>
    </section> 
</body>
<%- include('partials/_footer') -%>
</html>