<%- include('partials/_header') -%>
<body>
   
    <section id="new">
        <h1 style="color: #bf8c8c">¡GRACIAS!</h1>
        <img src="imagenes/enviado.png" height="350">
        <p style="margin-top: 20px">Ahora sólo tienes que entregar la caja en tu punto de entrega UPS más cercano. </p>
        <br>
        <a  href="index.html"><input type="button" value="Regresar a Inicio" style="margin-bottom: 30px; font-weight:500; padding: 10px;"></a>
    </section>
</body>
<%- include('partials/_footer') -%>
</html>