<%- include('partials/_header') -%>
<body>
   
    <section id="new">
        <h1 style="color: #bf8c8c">POLÍTICA DE PRIVACIDAD</h1>
        <p style="text-align: justify">StyleU está consciente de la importancia que representa para usted el uso que le damos a su información personal y el modo en que la compartimos, y agradecemos su confianza de que la tratamos con el debido cuidado y prudencia. 
          Este Aviso de Privacidad describe cómo StyleU recopila y procesa su información personal a través de sitios web, dispositivos, productos, servicios, tiendas en línea y físicas  de StyleU que hacen referencia a este Aviso de Privacidad. 
          Al utilizar StyleU, consiente las prácticas descritas en este Aviso de Privacidad.</p>
          <h3 style="color: #3f3f40; padding: 0px 20px;">¿Qué información personal acerca de los clientes recopila StyleU?</h3>
          <p style="text-align: justify">Recopilamos su información personal con el fin de proporcionar y mejorar continuamente nuestros productos y servicios.
            Estos son los tipos de información personal que recopilamos:</p>
          <p style="text-align: justify"><strong>Información que usted nos da: </strong>Recibimos y almacenamos cualquier información que nos proporciones en relación con StyleU.
            Puede elegir no proporcionar cierta información, sin embargo, si así lo hace, no podrá disfrutar de muchas de las funciones que le ofrecemos.</p>  
        <br>
        <a  href="index.html"><input type="button" value="Regresar a Inicio" style="margin-bottom: 30px; font-weight:500; padding: 10px;"></a>
    </section> 
</body>
<%- include('partials/_footer') -%>
</html>