<%- include('partials/_header') -%>
<body>
   
  <section id="new">
       <h1 style="color: #bf8c8c; font-size: 50px">PROMO</h1>
        <section class="faq-section">
<div class="container">
 <div class="row">
                   <!-- ***** FAQ Start ***** -->
                   <div class="col-md-6 offset-md-3 offset-lg-3 offset-xl-3">
                       <div class="faq" id="accordion">
                           <div class="card">
                           </div>
                           <div class="card">
                               <div class="card-header" id="faqHeading-1">
                                   <div class="mb-0">
                                       <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                           Artículos de Regalo
                                       </h5>
                                   </div>
                               </div>
                               <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                   <div class="card-body">
                                       <p>Obtén artículos de regalo en suscripción mensual <a  href="regaloof.html">Ver más</a></p>
                                   </div>
                               </div>
                           </div>
                           <div class="card">
                               <div class="card-header" id="faqHeading-2">
                                   <div class="mb-0">
                                       <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                           Promo Parejas
                                       </h5>
                                   </div>
                               </div>
                               <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                   <div class="card-body">
                                       <p>Tú y tu pareja ahora pueden combinar atuendos <a  href="regaloof.html">Ver más</a></p>
                                   </div>
                               </div>
                           </div>
                           <div class="card">
                               <div class="card-header" id="faqHeading-3">
                                   <div class="mb-0">
                                       <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                           Tienda en Rebajas
                                       </h5>
                                   </div>
                               </div>
                               <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                   <div class="card-body">
                                       <p>Artículos a mitad de precio <a  href="regaloof.html">Ver más</a></p>
                                   </div>
                               </div>
                           </div>
                           <div class="card">
                               <div class="card-header" id="faqHeading-4">
                                   <div class="mb-0">
                                       <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                           Código Especial
                                       </h5>
                                   </div>
                               </div>
                               <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                   <div class="card-body">
                                       <p>Por asuntos de COVID-19, toda la tienda está en descuento <a  href="regaloof.html">Ver más</a></p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                 </div>
               </div>
            <a  href="index.html"><input type="button" value="Regresar a Inicio" style="margin-bottom: 0px; font-weight:500; padding: 10px; margin-top: 30px;"></a>
               </section>
   </section>
   <style>
       /*faq*/
   .faq-section {
   background: #f5f6f7;
   min-height: 100vh;
   padding: 10vh 0 0;
}
.faq-title h2 {
 position: relative;
 margin-bottom: 45px;
 display: inline-block;
 font-weight: 600;
 line-height: 1;
}
.faq-title h2::before {
   content: "";
   position: absolute;
   left: 50%;
   width: 60px;
   height: 2px;
   background: #b5ebec;
   bottom: -25px;
   margin-left: -30px;
}
.faq-title p {
 padding: 0 190px;
 margin-bottom: 10px;
}

.faq {
 background: #f5f6f7;
 box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
 border-radius: 4px;
}

.faq .card {
 border: none;
 background: none;
 border-bottom: 1px solid #3f3f40;
}

.faq .card .card-header {
 padding: 0px;
 border: none;
 background: none;
 -webkit-transition: all 0.3s ease 0s;
 -moz-transition: all 0.3s ease 0s;
 -o-transition: all 0.3s ease 0s;
 transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
   background: rgba(255, 188, 187, 1);
   padding-left: 10px;
}
.faq .card .card-header .faq-title {
 width: 100%;
 text-align: left;
 padding: 0px;
 padding-left: 30px;
 padding-right: 30px;
 font-weight: 400;
 font-size: 15px;
 letter-spacing: 1px;
 color: #3f3f40;
 text-decoration: none !important;
 -webkit-transition: all 0.3s ease 0s;
 -moz-transition: all 0.3s ease 0s;
 -o-transition: all 0.3s ease 0s;
 transition: all 0.3s ease 0s;
 cursor: pointer;
 padding-top: 20px;
 padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
 display: inline-block;
 width: 20px;
 height: 20px;
 line-height: 14px;
 float: left;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 border-radius: 100px;
 text-align: center;
 background: #b5ebec;
 color: #f5f6f7;
 font-size: 12px;
 margin-right: 20px;
}

.faq .card .card-body {
 padding: 30px;
 padding-left: 35px;
 padding-bottom: 16px;
 font-weight: 400;
 font-size: 16px;
 color: #bf8c8c;
 line-height: 28px;
 letter-spacing: 1px;
 border-top: 1px solid #f5f6f7;
}

.faq .card .card-body p {
 margin-bottom: 14px;
}

@media (max-width: 991px) {
 .faq {
   margin-bottom: 30px;
 }
 .faq .card .card-header .faq-title {
   line-height: 26px;
   margin-top: 10px;
 }
}
   </style>
</body>
<%- include('partials/_footer') -%>
</html>