<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <nav class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-xl-12">
            <a href="index.html" id="logo">portada</a>
            <a href="photo.htm" id="is">Iniciar Sesión</a>
          </div>
        </div>
      </div>
        <div class="container-fluid">
        <div class="row">
          <div id="nav2" class="col-12 col-sm-12 col-md-12 col-xl-12" style="padding-left: 50px;">
            <a href="photo.htm">Test</a>
              <a href="photo.htm">Ayuda</a>
              <a href="photo.htm">Envío</a>
          </div>
        </div>
      </div>
  </nav>
  <title>StyleU</title>
</head>
<body>
   
    <section id="new">
        <h1>¡LISTO!</h1>
        <img src="imagenes/regalofin.png" height="350">
        <br>
        <p style="margin-top: 20px">Hemos enviado un correo a tu amigo y a ti. ¡No olvides decirle!.</p>
        <br>
        <a  href="index.html"><input type="button" value="Regresar a Inicio" style="margin-bottom: 30px; font-weight:500"></a>
    </section> 
 <footer>
     <section>
        <div class="container-fluid">
         <div class="row">
       <div id="logsm" class="col-12 col-sm-12 col-md-6 col-xl-4">
     <a id="logo">portada</a>
               <div>
          <a href="facebook.com" id="facebook">Facebook</a>
          <a href="twitter.com" id="twitter">Twitter</a>
          <a href="twitter.com" id="insta">Instagram</a>
      </div>
     </div>
        <div class="col-6 col-sm-6 col-md-3 col-xl-2">
        <a href="">FAQ</a>
            <br>
        <a href="">Contacto</a>
            <br>
        <a href="">Ayuda</a>
     </div>
    <div class="col-6 col-sm-6 col-md-3 col-xl-2">
        <a href="">Envío</a>
        <br>
        <a href="">Promo</a>
        <br>
        <a href="regaloof.html">Regalo</a>
     </div>
    <div class="col-12 col-sm-12 col-md-12 col-xl-4">
        <h1>Subscríbete a nuestro newsletter</h1>
        <div id="correo">
        <input type="text" placeholder="Correo Electrónico" name="mail" required>
        <input type="submit" value="Suscríbeme">
        </div>
     </div>
             <div id="abajo" class="col-12 col-sm-12 col-md-12 col-xl-12">
                 <a>Copyright @ 2020 StyleU.com Todos los Derechos Reservados</a>
                 <a id="abajo2" href="photo.htm">Términos de Servicio</a>
                 <a id="abajo2" href="photo.htm">Política de Privacidad</a>
             </div>
             </div>
             </div>
         </section>
</footer>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <style>
    @import url('href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500&display=swap" rel="stylesheet"');
    </style>
</body>
</html>