<%- include('partials/_header') -%>
<body>
  <section>
    <div class="background_container2">
        <img src="imagenes/regalo.png" height="129.375" width="385.4167">
    </div>
    </section>
   
    <section id="new">
        <p style="margin-top: 20px">Para celebrar el primer mes de cuarentena, regalamos prendas únicas para que disfrutes al máximo la contingenica. Ahora en cualquier suscripción y obtén un 10% de descuento (1 prenda gratis).</p>
    <h3>#COVIDNOPUEDECONMIGO</h3>
        <input type="submit" value="Planificar mi Caja" style="margin-left: 50%; margin-bottom: 30px; background-color: #b5ebec; color: #3f3f40; font-weight:500">
    </section> 
</body>
<%- include('partials/_footer') -%>
</html>