<%- include('partials/_header') -%>
<body>
  <section>
    <div class="background_container2">
        <img src="imagenes/especial.png" height="100‬" width="360‬">
    </div>
    </section>
   
    <section id="new">
        <p style="margin-top: 20px">Ya sea un cumpleaños, despedida o un simple detalle, tenemos lo indicado para ti. Con nuestro sistema de códigos de regalo puedes darle esa prenda que tanto quiere.</p>
        <input type="submit" value="Obtén Código" style="margin-bottom: 30px; background-color: #b5ebec; color: #3f3f40; font-weight:500">
    </section> 
</body>
<%- include('partials/_footer') -%>
</html>