<%- include('partials/_header') -%>
<body>
  <section id="new">
    <h1 style="color: #bf8c8c">¡LISTO!</h1>
    <img src="imagenes/enviado.png" height="350">
    <br>
    <p style="margin-top: 20px">Le hemos enviado su caja con 10 prendas únicas sólo para usted. Llegará a su correo en 1 o 2 semanas.</p>
    <br>
    <a  href="index.html"><input type="button" value="Regresar a Inicio" style="margin-bottom: 30px; font-weight:500; padding: 10px;"></a>
</section>
</body>
<%- include('partials/_footer') -%>
</html>