<%- include('partials/_header') -%>
<body>
    <section id="new">
        <h1 style="color: #bf8c8c">TÉRMINOS DE SERVICIO</h1>
        <h3 style="color: #3f3f40; padding: 0px 20px;">INFORMACIÓN GENERAL</h3>
        <p style="font-size: 16px; padding: 20px 50px; text-align: justify">Este sitio web es operado por StyleU. En todo el sitio, los términos “nosotros”, “nos” y “nuestro” se refieren a StyleU. 
            StyleU ofrece este sitio web, incluyendo toda la información, herramientas y servicios disponibles para ti en este sitio, el usuario, está condicionado a la aceptación 
            de todos los términos, condiciones, políticas y notificaciones aquí establecidos.Al visitar nuestro sitio y/o comprar algo de nosotros, paticipas en nuestro “Servicio” 
            y aceptas los siguientes términos y condiciones (“Términos de Servicio”, “Términos”), incluídos todos los términos y condiciones adicionales y las polítias a las que 
            se hace referencia en el presente documento y/o disponible a través de hipervínculos. Estas Condiciones de Servicio se aplican a todos los usuarios del sitio, incluyendo 
            si limitación a usuarios que sean navegadores, proveedores, clientes, comerciantes, y/o colaboradores de contenido.
            <br><br>
            Por favor, lee estos Términos de Servicio cuidadosamente antes de acceder o utilizar nuestro sitio web. Al acceder o utilizar cualquier parte del sitio, estás 
            aceptando los Términos de Servicio. Si no estás de acuerdo con todos los términos y condiciones de este acuerdo, entonces no deberías acceder a la página web o usar 
            cualquiera de los servicios. Si las Términos de Servicio son considerados una oferta, la aceptación está expresamente limitada a estos Términos de Servicio.
            Cualquier función nueva o herramienta que se añadan al sitio actual, tambien estarán sujetas a los Términos de Servicio. 
            Puedes revisar la versión actualizada de los Términos de Servicio, en cualquier momento en esta página. 
            Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de los Términos de Servicio mediante la publicación de actualizaciones y/o cambios en nuestro sitio web. 
            Es tu responsabilidad revisar esta página periódicamente para verificar cambios. 
            Tu uso contínuo o el acceso al sitio web después de la publicación de cualquier cambio constituye la aceptación de dichos cambios.</p>
          <h3 style="color: #3f3f40; padding: 0px 20px;">SECCIÓN 2 - CONDICIONES GENERALES</h3>
          <p style="font-size: 16px; padding: 20px 50px; text-align: justify">Nos reservamos el derecho de rechazar la prestación de servicio a cualquier persona, por cualquier motivo y en cualquier momento.
            Estás de acuerdo con no reproducir, duplicar, copiar, vender, revender o explotar cualquier parte del Servicio, usp del Servicio, o acceso al Servicio o cualquier contacto en 
            el sitio web a través del cual se presta el servicio, sin el expreso permiso por escrito de nuestra parte. Los títulos utilizados en este acuerdo se incluyen solo por conveniencia 
            y no limita o afecta a estos Términos.</p>
            <h3 style="color: #3f3f40; padding: 0px 20px;">SECCIÓN 3 - EXACTITUD, EXHAUSTVIDAD Y ACTUALIDAD DE LA INFORMACIÓN</h3>
            <p style="font-size: 16px; padding: 20px 50px; text-align: justify">No nos hacemos responsables si la información disponible en este sitio no es exacta, completa o actual.  El material en este 
              sitio es provisto solo para información general y no debe confiarse en ella o utilizarse como la única base para la toma de decisiones sin consultar primeramente, información 
              más precisa, completa u oportuna.  Cualquier dependencia em el materia de este sitio es bajo su propio riesgo.
              <br><br>
              Este sitio puede contener cierta información histórica.  La información histórica, no es necesriamente actual y es provista únicamente para tu referencia. 
              Nos reservamos el derecho de modificar los contenidos de este sitio en cualquier momento, pero no tenemos obligación de actualizar cualquier información en nuestro sitio. 
              Aceptas que es tu responsabilidad de monitorear los cambios en nuestro sitio.
              </p>
              <h3 style="color: #3f3f40; padding: 0px 20px;">SECCIÓN 4 - MODIFICACIONES AL SERVICIO Y PRECIOS</h3>
            <p style="font-size: 16px; padding: 20px 50px; text-align: justify">Los precios de nuestros productos están sujetos a cambio sin aviso. Nos reservamos el derecho de modificar o discontinuar el 
              Servicio (o cualquier parte del contenido) en cualquier momento sin aviso previo. No seremos responsables ante ti o alguna tercera parte por cualquier modificación, cambio de precio, suspensión o discontinuidad del Servicio.</p>
        <br>
        <a  href="index.html"><input type="button" value="Regresar a Inicio" style="margin-bottom: 30px; font-weight:500; padding: 10px;"></a>
    </section> 
</body>
<%- include('partials/_footer') -%>
</html>