<%- include('partials/_header') -%>
<body>
  <section id="new">
    <p style="margin-top: 20px;">Mi barbilla es:</p>
 <div class="container-fluid">
<div id="picker" class="row">
<div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Puntiaguda o muy cuadrada</p>
</div>
<div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Ancha, prominente</p>
</div>
<div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Moderada, no muy puntiaguada ni redonda o cuadrada</p>
</div>
<div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Delicada, un poco chica</p>
</div>
<div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Redonda o algo ancha</p>
</div>
</div>
</div>
<br>
   <p style="margin-top: 20px;">Mi nariz es:</p>
 <div class="container-fluid">
<div id="picker2" class="row">
<div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Puntiaguda o prominente</p>
</div>
<div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Ancha, grande o larga</p>
</div>
<div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">No muy grande ni muy chica, no muy redonda o puntiaguda</p>
</div>
<div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Delicada y pequeña</p>
</div>
<div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Redonda o un poco ancha</p>
</div>
</div>
</div>
  <br>
           <p style="margin-top: 20px;">Mis pómulos son:</p>
 <div class="container-fluid">
<div id="picker3" class="row">
<div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Altos y prominentes</p>
</div>
<div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Anchos</p>
</div>
<div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Moderados</p>
</div>
<div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Delicados, pequeños y un poco redondos</p>
</div>
<div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Redondos</p>
</div>
</div>
</div>
  <br>
           <p style="margin-top: 20px;">Mis ojos son:</p>
 <div class="container-fluid">
<div id="picker4" class="row">
<div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Chicos, rectos y cercanos entre sí</p>
</div>
<div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Chicos, rectos y lejanos entre sí</p>
</div>
<div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Ni muy chicos ni muy grandes, proporcionados entre sí</p>
</div>
<div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Redondos o hacia arriba, un poco juntos</p>
</div>
<div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Muy grandes y redondos</p>
</div>
</div>
</div>
           <p style="margin-top: 20px;">Mis labios son:</p>
 <div class="container-fluid">
<div id="picker5" class="row">
<div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Rectos y delgados</p>
</div>
<div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Rectos, delgados, fuertes y largos</p>
</div>
<div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Moderados, no muy anchos ni muy delgados</p>
</div>
<div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Un poco gruesos y redondos</p>
</div>
<div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
 <br>
 <p style="font-size: 17px;">Muy gruesos y redondos</p>
</div>
</div>
</div>
  <br>
  <br>
 <a  href="test8.html"><input type="button" value="Continuar" style="margin-bottom: 30px; font-weight:500; padding: 5px;"></a>
</section>
</body>
<%- include('partials/_footer') -%>
</html>