<%- include('partials/_header') -%>
<body>

  <section id="new">
    <form action="/test6/save" method="post">
           <p style="margin-top: 20px;">Me gusta más la joyería:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="1" name="selec1" value="1">
<p for="male" style="font-size: 17px;">Dorada</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">Plateada</p>
              </div>
          </div>
      </div>
          <br>
          <p style="margin-top: 20px;">El color de mis ojos es:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="1" name="selec1" value="1">
<p for="male" style="font-size: 17px;">Azul o gris</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">Verde</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Café claro</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="4" name="select1" value="4">
<p for="male" style="font-size: 17px;">Oscuros</p>
              </div>
          </div>
      </div>
      <br>
       <p style="margin-top: 20px;">Mis venas se ven en el sol:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-6 col-md-4 col-xl-4">
<input type="radio" id="1" name="selec1" value="1">
<p for="male" style="font-size: 17px;">Verdes</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-4">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">Azules y verdes</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-4">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Azules y moradas</p>
              </div>
          </div>
      </div>
      <br>
       <p style="margin-top: 20px;">Cuando me ruborizo, mi piel toma un color:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="1" name="selec1" value="1">
<p for="male" style="font-size: 17px;">Rojo</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">Rosado</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Naranja</p>
              </div><div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Durazno</p>
              </div>
          </div>
      </div>
      <br>
               <p style="margin-top: 20px;">El tono natural de mi cabello es:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="1" name="selec1" value="1">
<p for="male" style="font-size: 17px;">Negro/ muy oscuro</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">Castaño, tiende a rojizo o dorado</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Castaño que brilla un poco gris/ opaco (mousy)</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Rubio</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Pelirrojo</p>
              </div>
          </div>
      </div>
      <br>
       <p style="margin-top: 20px;">Mi cabello es:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="1" name="selec1" value="1">
<p for="male" style="font-size: 17px;">Mucho más oscuro que mi piel</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">Un poco más oscuro que mi piel</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Aproximadamente del mismo tono que mi piel</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Un poco más claro que mi piel</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Mucho más claro que mi piel</p>
              </div>
          </div>
      </div>
      <br>
                        <p style="margin-top: 20px;">De estos vestidos, me pondría:</p>
      <div class="container-fluid">
<div id="picker2" class="row">
  <div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Azul rey</p>
  </div>
  <div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
    <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Rojo/ naranja</p>
  </div>
  <div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Azul oscuro</p>
  </div>
    <div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Rojo vino</p>
  </div>
    <div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Negro</p>
  </div>
    <div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Blanco</p>
  </div>
    <div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Gris</p>
  </div>
</div>
</div>
       <br>
      <a  href="test7.html"><input type="button" value="Continuar" style="margin-bottom: 30px; font-weight:500; padding: 5px;"></a>
    </form>
  </section>
</body>
<%- include('partials/_footer') -%>
</html>