<%- include('partials/_header') -%>
<body>

  <section id="new">
      <form action="/test3/save" method="post">
           <p style="margin-top: 20px;">En cuanto a altura:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="1" name="selec1" value="a">
<p for="male" style="font-size: 17px;">Me veo mucho más baja de lo que soy</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="2" name="select1" value="b">
<p for="male" style="font-size: 17px;">Tiendo a verme un poco más baja de lo que soy</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="3" name="select1" value="c">
<p for="male" style="font-size: 17px;">Me veo de la estatura que soy</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="4" name="select1" value="d">
<p for="male" style="font-size: 17px;">Me veo un poco más alta de lo que soy</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="4" name="select1" value="e">
<p for="male" style="font-size: 17px;">Me veo un mucho más alta de lo  que soy</p>
              </div>
          </div>
      </div>
      <br>
         <p style="margin-top: 20px;">Mis hombros son:</p>
      <div class="container-fluid">
<div id="picker" class="row">
  <div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Marcados/ delgados y chicos</p>
  </div>
  <div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
    <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Anchos y rectos</p>
  </div>
  <div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Moderados y simétricos</p>
  </div>
    <div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Caídos y un poco marcados/ rectos</p>
  </div>
    <div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Caídos y redondos</p>
  </div>
</div>
</div>
          <br>
          <p style="margin-top: 20px;">En comparación con el resto de mi cuerpo, mis brazos y piernas son:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="1" name="selec1" value="1">
<p for="male" style="font-size: 17px;">Largos y delgados</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">Largos y anchos</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Moderados, en buena proporción con el resto de mi cuerpo</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="4" name="select1" value="4">
<p for="male" style="font-size: 17px;">Pequeños en comparación con mi cuerpo</p>
              </div>
          </div>
      </div>
      <br>
       <p style="margin-top: 20px;">En comparación con el resto de mi cuerpo, mis manos y pies son:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="1" name="selec1" value="1">
<p for="male" style="font-size: 17px;">Largos y delgados</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">Largos y anchos</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Moderados, en buena proporción con el resto de mi cuerpo</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="4" name="select1" value="4">
<p for="male" style="font-size: 17px;">Chicos, delgados y delicados</p>
              </div>
                              <div class="coll-12 col-sm-12 col-md-6 col-xl-6">
<input type="radio" id="4" name="select1" value="4">
<p for="male" style="font-size: 17px;">Chicos y un poco anchos</p>
              </div>
          </div>
      </div>
      <br>
      <a  href="test4.html"><input type="button" value="Continuar" style="margin-bottom: 30px; font-weight:500; padding: 5px;"></a>
    </form>
  </section>
</body>
<%- include('partials/_footer') -%>
</html>