<%- include('partials/_header') -%>
<body>

  <section id="new">
      <p style="margin-top: 20px;">Mis  caderas son:</p>
      <div class="container-fluid">
<div id="picker" class="row">
  <div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
  <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Más anchas que mis hombros</p>
  </div>
  <div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
    <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Proporcionales a mis hombros</p>
  </div>
  <div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
    <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Más chicas que mis hombros</p>
  </div>
</div>
</div>
      <br>
          <p style="margin-top: 20px;">Mi cintura es:</p>
      <div class="container-fluid">
<div id="picker2" class="row">
  <div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Más chica que mis hombros y caderas</p>
  </div>
  <div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
    <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Proporcionales a mis hombros y caderas</p>
  </div>
  <div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
      <br>
      <p style="font-size: 17px;">Más ancha que mis hombros y caderas</p>
  </div>
</div>
</div>
       <br>
              <p style="margin-top: 20px;">Tiendo a:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-12 col-md-6 col-xl-4">
<input type="radio" id="1" name="selec1" value="1">
<p for="male" style="font-size: 17px;">Engordar con facilidad</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-4">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">Mantenerme en forma</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-4">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Adelgazar con facilidad</p>
              </div>
          </div>
      </div>
      <br>
                      <p style="margin-top: 20px;">En cuanto a músculo:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-12 col-md-6 col-xl-4">
<input type="radio" id="1" name="selec2" value="1">
<p for="male" style="font-size: 17px;">Puedo ganar masa muscular rápido</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-4">
<input type="radio" id="2" name="select2" value="2">
<p for="male" style="font-size: 17px;">Gano masa muscular moderadamente</p>
              </div>
              <div class="coll-12 col-sm-12 col-md-6 col-xl-4">
<input type="radio" id="3" name="select2" value="3">
<p for="male" style="font-size: 17px;">No tiendo a ganar masa muscular</p>
              </div>
          </div>
      </div>
      <br>
                  <p style="margin-top: 20px;">De estas imágenes, la que mejor me describe es</p>
      <div class="container-fluid">
<div id="picker3" class="row">
  <div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
    <input type="image" name="cuerpo" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button" value="reloj">
      <br>
      <p style="font-size: 17px;">Reloj de arena</p>
  </div>
  <div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
    <input type="image" name="cuerpo" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button" value="relojs">
      <br>
      <p style="font-size: 17px;">Reloj superior</p>
  </div>
  <div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
    <input type="image" name="cuerpo" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button" value="cuchara">
      <br>
      <p style="font-size: 17px;">Cuchara</p>
  </div>
        <div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
    <input type="image" name="cuerpo" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button" value="pera">
      <br>
      <p style="font-size: 17px;">Pera</p>
  </div>
        <div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
    <input type="image" name="cuerpo" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button" value="triangulo">
      <br>
      <p style="font-size: 17px;">Triángulo invertido</p>
  </div>
        <div id="image6" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
    <input type="image" name="cuerpo" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button" value="manzana">
      <br>
      <p style="font-size: 17px;">Manzana</p>
  </div>
        <div id="image7" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
   <input type="image" name="cuerpo" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button" value="rectangulo">
      <br>
      <p style="font-size: 17px;">Rectángulo</p>
  </div>
</div>
</div>
       <br>
      <a  href="test3.html"><input type="submit" value="Continuar" style="margin-bottom: 30px; font-weight:500; padding: 5px;"></a>
  </section>
</body>
<%- include('partials/_footer') -%>
</html>