<%- include('partials/_header') -%>
<body>
<section id="new">
  <p style="margin-top: 20px;">La forma general de mi cuerpo es:</p>
<div class="container-fluid">
<div id="picker" class="row">
<div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Delgada</p>
</div>
<div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Ancha y musculosa</p>
</div>
<div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Moderada</p>
</div>
<div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Un poco curveada</p>
</div>
<div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Muy curveada</p>
</div>
</div>
</div>
<br>
 <p style="margin-top: 20px;">La forma de la parte superior de mi torso/ busto es:</p>
<div class="container-fluid">
<div id="picker2" class="row">
<div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Plana, no suelo ganar mucha masa en esta parte</p>
</div>
<div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Ancha, puedo ganar masa en esta parte pero no mucha</p>
</div>
<div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Moderada</p>
</div>
<div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Curveada, tiendo a ganar masa en esta parte</p>
</div>
<div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Muy curveada, siempre hay más masa en esta parte, aún estando en forma</p>
</div>
</div>
</div>
<br>
         <p style="margin-top: 20px;">La forma de mi cintura es:</p>
<div class="container-fluid">
<div id="picker3" class="row">
<div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Larga y sin mucha curva</p>
</div>
<div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Larga pero ancha</p>
</div>
<div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Moderada, un poco definida</p>
</div>
<div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Muy pequeña</p>
</div>
<div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Delicadamente definida, pero tiende a ser un poco ancha</p>
</div>
</div>
</div>
<br>
         <p style="margin-top: 20px;">Mis caderas son:</p>
<div class="container-fluid">
<div id="picker4" class="row">
<div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Delgadas, estrechas y rectas, aunque gano un poco de masa cuando subo de peso</p>
</div>
<div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Recta y un poco ancha, la mayor parte de mi masa se acumula en esta parte</p>
</div>
<div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Moderada, proporcionada</p>
</div>
<div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Redonda, más pronunciada que mi cintura</p>
</div>
<div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Muy suave y redonda, independientemente del peso</p>
</div>
</div>
</div>
         <p style="margin-top: 20px;">La mejor manera de describir mis brazos y muslos es:</p>
<div class="container-fluid">
<div id="picker2" class="row">
<div id="image1" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Largos y delgados</p>
</div>
<div id="image2" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Largos, tienden a tener músculo</p>
</div>
<div id="image3" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Moderados</p>
</div>
<div id="image4" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Suaves y un poco cortos</p>
</div>
<div id="image5" visited="0" class="col-12 col-sm-12 col-md-6 col-xl-4">
<input type="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSKDxSy3xU2O-qEB-6KKxdVOwibI-fvA_IpSoSgGnwRVww4bvWf" alt="button">
<br>
<p style="font-size: 17px;">Muy suaves y anchos</p>
</div>
</div>
</div>
<br>
<br>
<a  href="test5.html"><input type="button" value="Continuar" style="margin-bottom: 30px; font-weight:500; padding: 5px;"></a>
</section>
</body>
<%- include('partials/_footer') -%>
</html>