<%- include('partials/_header') -%>
<body>

  <section id="new">
              <p style="margin-top: 20px;">Estoy dispuesta a pagar por cada prenda (dólares):</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">Menos de $20</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="1" name="selec1" value="1">
<p for="male" style="font-size: 17px;">$10-$30</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">$20-$40</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">$30-$50</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">$40-$60</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Más de $60</p>
              </div>
          </div>
      </div>
      <br>
                     <p style="margin-top: 20px;">Me gustaría recibir mi caja:</p>
      <br>
      <div class="container-fluid">
          <div class="row">
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">1 vez a la semana</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="1" name="selec1" value="1">
<p for="male" style="font-size: 17px;">2 veces al mes</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="2" name="select1" value="2">
<p for="male" style="font-size: 17px;">1 vez al mes</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">4 al año</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">2 al año</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">1 al año</p>
              </div>
              <div class="coll-12 col-sm-6 col-md-4 col-xl-3">
<input type="radio" id="3" name="select1" value="3">
<p for="male" style="font-size: 17px;">Sólo por esta vez</p>
              </div>
          </div>
      </div>
      <br>
       <a  href="continuar.html"><input type="button" value="Continuar" style="margin-bottom: 30px; font-weight:500; padding: 5px;"></a>
  </section>
</body>
<%- include('partials/_footer') -%>
</html>